.site-account {

}

.site-account .leftPanel {
    float: left;
    width: 20%;
    height: 100%;
}

.site-account .leftPanel .avatar-logo {
    float: left;
    width: 100%;
}

.site-account .leftPanel .avatar-logo img {

}

.site-account .rightPanel {
    float: left;
    width: 78%;
    height: 100%;
    margin-left: 2%;
}

.site-account .rightPanel .nationality-logo {

}

.site-account .leftPanel .nationality-logo img {

}

/* helpers */
.fclear:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}

.hidden {
    display: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}