.site-account {

}

.site-account .leftPanel {

}

.site-account .leftPanel .avatar-logo {

}

.site-account .leftPanel .avatar-logo > img {

}

.site-account .rightPanel {

}

.site-account .rightPanel .nationality-logo {

}

/* helpers */
.fclear:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}

.hidden {
    display: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}