.site-account hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #9d9d9d;
}

.site-account {

}

.site-account .leftPanel {
    float: left;
    width: 20%;
    height: 100%;
}

.site-account .leftPanel .avatar-logo {
    float: left;
    width: 100%;
}

.site-account .rightPanel {
    float: left;
    width: 78%;
    height: 100%;
    margin-left: 2%;
}

.site-account .rightPanel .header {
    float: left;
    width: 100%;
    height: 100%;
}

.site-account .rightPanel .header .nationality-logo {
    float: left;
    height: 20px;
}

.site-account .rightPanel .header .username {
    float: left;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    margin-left: 1%;
}

.site-account .rightPanel .header .userid {
    float: left;
    height: 20px;
    font-size: 12px;
    padding-top: 5px;
    margin-left: 1%;
    color: #9d9d9d;
}

.site-account .rightPanel .userBody .accountLabel {
    float: left;
    height: 25px;
    width: 33%;
}

.site-account .rightPanel .userBody .context {
    float: left;
    height: 25px;
    width: 66%;
}


/* helpers */
.fclear:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}

.hidden {
    display: none;
}